<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8d8156722d8e328e16b8">
    <div class="sqs-block-content">
    
        <div class="row sqs-row">
            <div class="col sqs-col-4 sqs-col-comment">
                <h3> <%= title %></h3>
            </div>
            <div class="col sqs-col-4 sqs-col-comment" style="float: right;">
                <p>
                    <button class="sqs-editable-button sqs-editable-button-style comment-btn" style="float: right;">Vote/Comment</button>
                </p>
            </div>
        </div>

        <div class="row sqs-row">
            <ul>
                <li>All</li>
                <li>MBTI</li>
                <li>Eneagram</li>
                <li>Zodiac</li>
            </ul>
            <button class="btn primary-button-style-outline">best</button>
            <button class="btn primary-button-style-outline">recent</button>
        </div>

    <div class="profile-card">
        <div class="center" style="height: 22.5%">
          <p class="profile-card-name">
            <%= "dfdfs" %>
          </p>
        </div>
        <div class="center" style="height: 22.5%">
          <p class="profile-card-job">
            <%= // subcategory %>
          </p>
        </div>
        <div class="center" style="height: 35%">
          <p class="profile-card-mbti" style="color: #42e298">
            <%= // mbti %>
          </p>
        </div>
        <div class="center" style="height: 20%">
          <p class="profile-card-enneagram">
            <%= // enneagram %>
          </p>
        </div>
      </div>
      
    </div>
</div>