<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8d8156722d8e328e16b8">
    <div class="sqs-block-content">
    
        <div class="row sqs-row">
            <div class="col sqs-col-4 sqs-col-comment">
                <h3> <%= title %></h3>
            </div>
            <div class="col sqs-col-4 sqs-col-comment" style="float: right;">
                <p>
                  <!-- <div class=" bg-accent shadow shadow-accent-light undefined px-8 py-3 rounded-full text-center undefined cursor-pointer hover:scale-103 active:scale-99 duration-500"><p class="text-sm font-medium undefined text-black tracking-widest">VOTE</p></div> -->
                    <button 
                      class="sqs-editable-button sqs-editable-button-style comment-btn" 
                      onclick="toggleHiddenDraft('draft-comment-box')"
                      style="float: right;">
                        Vote/Comment
                    </button>
                </p>
            </div>
        </div>

        <div class="row sqs-row">
            <ul>
                <li>All</li>
                <li>MBTI</li>
                <li>Eneagram</li>
                <li>Zodiac</li>
            </ul>
            <button class="btn primary-button-style-outline">best</button>
            <button class="btn primary-button-style-outline">recent</button>
        </div>
      
    <div id="draft-comment-box" class="profile-card draft hidden comment-box">
        <div class="row sqs-row">
            <div class="col sqs-col-4 sqs-col-comment">
                <h3> <%= title %></h3>
            </div>
          </div>
      </div>
      
    <div class="profile-card comment-box">
        <div class="center" style="height: 22.5%">
          <p class="profile-card-name">
            <%= "dfdfs" %>
          </p>
        </div>
        <div class="center" style="height: 22.5%">
          <p class="profile-card-job">
            <%= // subcategory %>
          </p>
        </div>
        <div class="center" style="height: 35%">
          <p class="profile-card-mbti" style="color: #42e298">
            <%= // mbti %>
          </p>
        </div>
        <div class="center" style="height: 20%">
          <p class="profile-card-enneagram">
            <%= // enneagram %>
          </p>
        </div>
      </div>
      
    </div>
</div>