<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8d8156722d8e328e16b8">
    <div class="sqs-block-content">
    
        <div class="row sqs-row">
            <div class="col sqs-col-4 sqs-col-comment">
                <h3> <%= title %></h3>
            </div>
            <div class="col sqs-col-4 sqs-col-comment" style="float: right;">
                <p>
                    <button 
                      id="showNewCommentBox"
                      class="big-rounded-button" 
                      style="float: right;">
                        Vote/Comment
                    </button>
                </p>
            </div>
        </div>

        <div class="row sqs-row">
            <ul class="comment-filter">
                <li class="active">All</li>
                <li>MBTI</li>
                <li>Enneagram</li>
                <li>Zodiac</li>
            </ul>
        </div>

        <div class="row sqs-row">
            <button id="sortByMostLoved" class="sorting-button sorting-button-active rounded-button">best</button>
            <button id="sortByDate" class="sorting-button rounded-button">recent</button>
        </div>
        
    <!-- new comment box, set to be hidden by default -->
    <form id="comment-form" >
      
    <div class="profile-card comment-box row hidden">
        <div class="row sqs-row">
          <div class="col sqs-col-sub-trait comment-box-avatar">
            <img class="comment-profile-picture" src="https://i.pravatar.cc/130?img=1" /> 
          </div>
          <div class="col sqs-col-sub-trait comment-box-username">
            <span>Nilam Abey</span>
          </div>
        </div>
        <div class="row">
          <div class="sqs-col-12 comment-box-title">
              <input type="text" maxlength="300" id="commentTitle" name="title" placeholder="Title" class="text-xl font-medium false">
          </div>
        </div>
        <div class="row sqs-row">
          <div class="col sqs-col-comment new-attribute-container">
              <div class="rounded-button new-attribute">
                <div class="dropdown">
                  <button id="mbtiButton" class="rounded-button dropdown-toggle mbti-toggle">MBTI</button>
                  <div id="mbtiMenu" class="dropdown-menu">
                     <% mbti.forEach(type => { %>
                      <div class="dropdown-item"><%= type %></div>
                      <% }); %>
                  </div>
                </div>
              </div>
              <div class="rounded-button new-attribute">
                <div class="dropdown">
                  <button id="mbtiButton" class="rounded-button dropdown-toggle enneagram-toggle">Enneagram</button>
                  <div id="enneagramMenu" class="dropdown-menu">
                     <% enneagram.forEach(eg => { %>
                      <div class="dropdown-item"><%= eg %></div>
                      <% }); %>
                  </div>
                </div>
              </div>
              <div class="rounded-button new-attribute zodiac-sign">
                <div class="dropdown">
                  <button id="zodiacButton" class="rounded-button dropdown-toggle zodiac-sign zodiac-toggle">Zodiac</button>
                  <div id="zodiacMenu" class="dropdown-menu">
                     <% enneagram.forEach(eg => { %>
                      <div class="dropdown-item"><%= eg %></div>
                      <% }); %>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="comment-box-body">
              <textarea id="commentBody" class="text-xl font-medium false" name="comment" id="commentBodyToFill" placeholder="Share your opinion by commenting here"></textarea>
          </div>
        </div>
     
        <!-- SEND BUTTON -->
        <div class="row sqs-row">
          <div class="col comment-send">
              <button class="material-icons send-icon send-button disabled-button" type="submit">send</i>
          </div>
        </div>
      </div>
    </form>

    <!-- existing comments goes here -->
    <div id="comments-container"></div>
      
    </div>
</div>

<%- include('./comments-scripts.ejs') %>